<h1>Hello There!!</h1>
<h2>What is your name?</h2>

<label for="name">
  <input type= "text" name="name">
</label><br><br>

<div>
  <img style='border:dashed blue 'src='http://bit.ly/1eze8aE'>
</div>

<form action='/home'>
  <h3>When is your Birthday?<h3><br>
  Day:
  <label for="day">
    <input type= "text" name="day">
  </label>
  Month:<br><br>
  <input type="submit" value="GO">
</form>
